/* colors */
@import url('colors.css');

/* body & section */
* {
    box-sizing: border-box;
  }

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    color: var(--dark);
    font-family: Futura, sans-serif;
    scrollbar-color: var(--purple) transparent;
    scrollbar-width: thin;
}

a {
    cursor: pointer;
}

#wrapper { 
    position: absolute;
    height: 100%;
    width: 100%;
}

section {
    position: relative;
    height: auto;
    width: 100%;
}

.hero-image {
    min-height: 100%;
    position:fixed;
    top: 0;
    background: url(images/hero-image.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.off-the-clock {
    min-height: 100%;
    position:fixed;
    top: 0;
    background: url(images/hero-image-off.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.gigs {
    min-height: 100%;
    position:fixed;
    top: 0;
    background: url(images/hero-image-gigs.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.construction {
    min-height: 100%;
    position:fixed;
    top: 0;
    background: url(images/hero-image-construction.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.hero-text {
    display: block;
    width: 75%;
    text-align: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 30%;
    padding-right: 1.25rem;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--dark);
    color: var(--yellow);
    position: sticky;
    top: 21.5%;
    z-index: 1;
    -ms-transform: translate(0, -21.5%);
    -webkit-transform: translate(0, -21.5%);
    -moz-transform: translate(0, -21.5%);
    -o-transform: translate(0, -21.5%);
    transform: translate(0, -21.5%);

    h1 {
        padding: 0;
        margin: 0;
        font-size: 3rem;
        font-weight: 600;
    }
}

.hero-text .subtitle {
    padding: 0 0 0.25rem 0;
    font-size: 1.25rem;
    font-weight: 300;
    width: 100%;
}

.fit {
    padding: 1rem 1.5rem 1rem 1.5rem;
    width: fit-content;
    color: var(--yellow);
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--dark);
    margin-bottom: 1rem;
    border-radius: 0px 5px 5px 0px;
}

.content {
    width: 100%;
    margin-top: 12vh;
    padding-bottom: 5vh;
}

.content h2 {
    font-size: 1.5rem;
}

.push {
    margin-top: 85vh;
}

.topnav {
    width: 100%;
    display: flex;
    background-color: var(--yellow);
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--purple);
    border-radius: 0px 0px 5px 5px;
  }

.topnav ul {
    margin: 0;
}

.topnav a.icon {
    display: none;
}

.fa-icon {
    width: 1rem;
    height: 100%;
}

.grow {
    width: 1.25rem;
    height: 100%;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: flex-end;
  width: 100%;
  height: fit-content;
  padding: 0;
  z-index: 2;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

li {
    display: inline;
    text-align: right;
    width: min-content;
    white-space: nowrap;
    padding-block: 1rem;
    padding-inline: 1.5rem;
  }

ol {
    padding: 0;
}

ol li {
    display: list-item;
    padding: 0;
}

a.navlink {
    border: 2px solid;
    border-color: var(--pink); 
    border-radius: 5px;
    text-decoration: none;
    color: var(--dark);
    font-size: 1rem;
    font-weight: 300;
    padding: 5px;
  }

a.navlink:hover, a.navlink:focus {
  border: 2px dotted;
  border-color: var(--dark);
}

a.navlink.home {
    text-align: left;
    width: 100%;
    font-weight: 600;
  }

a.navlink.active {
    background-color: var(--dark);
    border: 2px solid var(--pink);
    color: var(--yellow);
}

.icon {
    color: var(--dark);
    padding: 1rem;
}

/* footer */
footer {
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: var(--yellow);
    color: var(--dark);
    font-size: 14px;
    display: flex;
    position: relative;
    z-index: 2;
    left: 0;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--purple);
}

.fixed {
    position: fixed;
    bottom: 0px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.pad {
    padding-top: 1rem;
}

.contact a {
    display: flex;
    align-items: center;
    margin-inline: 0.5rem;
    border: 2px solid;
    border-color: var(--pink); 
    border-radius: 5px;
    text-decoration: none;
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 300;
    height: 2rem;
    padding: 0.25rem;
}

.contact a:hover, .contact a:focus {
    border-color: var(--dark);
    border-style: dotted;
}

.contact i {
    padding: 0;
}

.contact .edge {
    margin-right: 0;
}

.credit {
    display: flex;
    align-items: center;
}

/* heading */
h1.light {
    padding: 1rem 1.5rem 1rem 1.5rem;
    width: fit-content;
    color: var(--yellow);
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--dark);
    margin-bottom: 1rem;
    border-radius: 0px 5px 5px 0px;
}

h2 {
    padding-block: 1rem;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    padding-block: 1rem;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.dark {
    color: var(--yellow);
    background-color: var(--dark);
    border: 2px solid var(--dark);
    border-left: none;
    margin-bottom: 1rem;
}

/* basic paragraph */
p {
    margin: 0;
    font-size: 16px;
    text-align: left;
    width: 50%;
}

.breadcrumb {
    display: flex;
    justify-content: left;
    background-color: var(--yellow);
    width: fit-content;
    margin: 0rem 0rem 1rem 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid var(--pink);
}

.breadcrumb * {
    text-wrap: nowrap;
    width: fit-content;
}

.breadcrumb .slash {
    padding-inline: 1rem;
}

.breadcrumb a {
    text-decoration: underline var(--pink);
    text-decoration-thickness: 2px;
    -webkit-text-decoration: underline var(--pink);
    -webkit-text-decoration-thickness: 2px;
    color: var(--dark);
}

.breadcrumb a:hover, .breadcrumb a:focus {
    text-decoration: underline dotted var(--dark);
    text-decoration-thickness: 2px;
    -webkit-text-decoration: underline dotted var(--dark);
    -webkit-text-decoration-thickness: 2px;
  }

/* lightbox link */
.lightbox-container {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 1rem;
    column-gap: 1rem;
}

.lightbox {
    background-color: transparent;
    position: relative;
    max-width: 100%;
    max-height: fit-content;
    border-radius: 5px;
    border: 2px solid var(--dark);
    background-color: var(--pink);
    }
    .thumbnail {
        display: block;
        width: 100%;
        height: 100%;
    }
    .title.dark {
        padding: 1rem 1.5rem 1rem 1.5rem;
        width: fit-content;
        max-width: 90%;
        position: absolute;
        top: 90%;
        -ms-transform: translate(0, -90%);
        -webkit-transform: translate(0, -90%);
        -moz-transform: translate(0, -90%);
        -o-transform: translate(0, -90%);
        transform: translate(0, -90%);
        text-align: center;
        z-index: 1;
        border-radius: 0px 5px 5px 0px;
    }

.lightbox:hover, .lightbox:focus {
    .thumbnail {
        mix-blend-mode: luminosity;
        opacity: 80%;
    }
    .dark {
        border: 2px dotted var(--dark);
        border-left: none;
    }
}

.left {
    margin-inline: 1rem 0rem;
}

.right {
    margin-inline: 0rem 1rem;
}

.middle {
    padding: 0;

    .thumbnail {
        margin: 0;
    }
}

.single {
    margin: 0rem 1rem 1rem 1rem;
}

.bottom, .image.bottom {
    padding-bottom: 0;
    margin-bottom: 0;
}

.home-container {
    display: flex;
    height: 100%;
    margin-bottom: 0;
}

.column-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

.about-image {
    object-fit: cover;
    height: 100%;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid var(--dark);
    margin-bottom: 1rem;
    background-color: var(--yellow);
}

.double-image {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    margin-bottom: 1rem;

    .image {
        width: 100%;
    }
}

.double-image-bottom {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    margin-bottom: 1rem;
    margin-bottom: 0;

    .image {
        width: 100%;
    }
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-right: 0.5rem;
    margin-left: 1rem;
    padding-bottom: 0;
    border-radius: 5px;
    overflow: hidden;
}

.col2 {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 2px solid var(--pink);
    background-color: var(--yellow);
}

.col2 .signoff {
    text-align: right;
}

.col2 p {
    width: 100%;
    height: fit-content;
    text-align: left;
}

.col2 a {
    text-decoration: underline var(--pink);
    text-decoration-thickness: 2px;
    -webkit-text-decoration: underline var(--pink);
    -webkit-text-decoration-thickness: 2px;
    color: var(--dark);
}

.col2 a:hover, .col2 a:focus {
    text-decoration: underline dotted var(--dark);
    text-decoration-thickness: 2px;
    -webkit-text-decoration: underline dotted var(--dark);
    -webkit-text-decoration-thickness: 2px;
  }

.col2 h2, .col2 h3, .col2 h4 {
    text-align: left;
    width: 100%;
    padding-top: 0rem;
    padding-bottom: 0.5rem;
    margin: 0;
}

.col2 h2 {
    font-size: 1.5rem;
}

.col2 h3 {
    font-size: 1.25rem;
}

.col2 h4 {
    font-size: 1rem;
}

.col2 ul {
    list-style: none;
    display: block;
}

.col2 ul li {
    width: 100%;
    display: block;
    text-align: left;
    padding: 0;
}

.col2 .blurb {
    color: var(--purple);
    padding-top: 1rem;
}

.col1.home {
    width: 25%;
    display: block;
    background-color: var(--yellow);
    padding-inline: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
    position: fixed;
    top: 0;
    height: 100vh;
    overflow: scroll;
    scrollbar-color: var(--purple) var(--yellow);
    scrollbar-width: thin;
    z-index: 1;
    border-radius: 0px;
}

.col1.home .top {
    padding-top: 3.5rem;
}

.col1.home .event {
    color: var(--yellow);
    width: 100%;
    text-align: left;
    background-color: var(--purple);
    border-radius: 5px;
    border: 2px solid var(--dark);
    padding: 0rem 1rem 1rem 1rem;
    margin-bottom: 1rem;
}

.col1.home a {
    text-decoration: none;
    color: var(--dark);
}

.col1.home a:active {
    color: var(--dark)
}

.col1.home .event.hover:hover {
    background-color: var(--pink);
    cursor: pointer;
}

.col1.home .event.past {
    color: var(--dark);
    background-color: var(--yellow);
}

.col1.home .org {
    font-style: italic;
}

.col1.home  h2 {
    width: 100%;
    text-align: left;
    padding-block: 2rem 1rem;
}

.col1.home h3 {
    text-align: left;
    padding-block: 1rem 0.5rem;
}

.col1.home h4 {
    padding-block: 0.25rem;
    margin: 0;
}

.col1.home hr {
    border-top: 1px dotted;
    border-bottom: none;
    border-color: var(--dark);
}

.col1.home p {
    width: 100%;
    text-align: left;
    padding-block: 0.25rem;
}

.col2.home {
    width: 75%;
    margin-left: 25%;
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-color: transparent;
    border: none;
}

/* media tags for responsiveness */
@media (max-width: 980px) {
    .lightbox-container {
        display: grid;
        grid-template-columns: auto auto;
        padding-inline: 1rem;
    }

    .left, .middle, .right {
        margin-inline: 0rem;
    }

    .column-container {
        display: flex;
        flex-direction: column;
    }

    .col1 {
        margin-inline: 1rem;
        margin-bottom: 1rem;
    }

    .col2 {
        margin-inline: 1rem;
    }

    .about-image {
        height: auto;
        width: 100%;
    }

    .col1.home {
        display: none;
    }

    .col2.home {
        width: 100%;
        margin: 0;
        padding-left: 0;
    }

    .hero-text {
        padding-left: 1.25rem;
        width: 100%;
        text-align: center;
        border-radius: 0;

        h1 {
            font-size: 2rem;
        }
    }

    .subtitle {
        text-align: center;
    }
}

@media (max-width: 660px) {
    .lightbox-container {
        display: grid;
        grid-template-columns: auto;
        padding: 0;
    }

    .left, .middle, .right {
        margin-inline: 1rem;
    }

    .hero-image {
        background-position: 55%;
    }

    .off-the-clock, .gigs, .about {
        background-position: center;
    }

    #footer footer {
        flex-direction: column;
        
        p {
            text-align: center;
            padding-bottom: 1rem;
            width: 100%;
        }      
    }

    .light {
        width: 100%;
        border-radius: 0;
    }

    nav {
        align-items: start;
    }
    
    .topnav ul {
        margin: 0;
    }

    .topnav ul li a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: flex;
    }

    .topnav.responsive {
        position: relative;
        padding-top: 3rem;
        margin-bottom: 5.5rem;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive ul {
        display: block;
        padding-inline: 1rem;
        margin-bottom: 1.5rem;
    }
    
    .topnav.responsive ul li a {
        float: none;
        display: block;
        text-align: right;
        width: 100%;
    }

    .topnav.responsive ul li {
        display: block;
        padding: 0.5rem 0rem 0.5rem 0rem;
        width: 100%;
    }
}
